# Dependencies
logs
node_modules
uploads/
.terraform/
.terraform.lock.hcl
.terraform*
terraform.tfstate
terraform.tfstate.backup
terraform.*.backup
.vscode
# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage


./credentials/google.api.json
devops/asterisk/recordings