# Dependencies
logs
node_modules
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.vscode
# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage


./credentials/google.api.json
