version: '3'

services:
  node-app:
    container_name: node-app-dev
    command: yarn dev
    ports:
      - "9229:9229"
  ngrok:
    container_name: ngrok
    image: ngrok/ngrok
    restart: unless-stopped
    command: 'http node-app:3000'        
    ports:
        - '4040:4040'
    expose:
        - '4040'
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}